<div class= "container">
    
    <h3 class= "text-center">Contact Us</h3>
    
  <%= form_for "/contacts" do |f| %>
    
      <%= f.label :name %>
      <%= f.text_field :name %>
      
       <%= f.label :Email %>
      <%= f.text_field :Email %>
      
       <%= f.label :comments %>
      <%= f.text_area :name %>
  
  <%= f.submit :submit %>
  
  
  
 <% end %>

</div>